.transactions {
  display: flex;
  overflow: clip;
  // background: #e9f3ff83;
  // background: #e9f3ff;

  .transactionsContainer {
    flex: 6;
    min-width: 0;

    .break {
      display: none;
    }

    .transactionsBody {
      padding: 50px;
      width: 86%;
      margin-left: 35px;
      margin-top: 5px;

      .title {
        display: flex;
        flex-direction: column;
        gap: 0;

        span {
          font-size: 10px;
          text-transform: uppercase;
          color: grey;
          padding-bottom: 0;
          margin-bottom: 0;
          letter-spacing: 3px;
        }

        .titleContainer {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          padding-bottom: 30px;

          .icon {
            cursor: pointer;

            &:nth-child(1) {
              border: 1px solid rgba(85, 85, 85, 0.514);
              padding: 5px;
              border-radius: 5px;
              color: #1b46c2;
              font-size: 14px;
              margin-right: 8px;
            }

            &:nth-child(2) {
              border: 1px solid rgba(85, 85, 85, 0.514);
              padding: 5px;
              border-radius: 5px;
              color: #1b46c2;
            }
          }

          .titleHeading {
            display: flex;
            align-items: center;

            h4 {
              font-size: 24px;
              margin: 0;
            }

            .icon {
              color: rgba(128, 128, 128, 0.589);
              font-size: 14px;
              cursor: pointer;
            }
          }
        }
      }

      .transactionsContent {
        background: #fff;
        padding: 2px 20px;
        border-radius: 8px;
        height: 400px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .transactionsContentHeader {
          display: flex;
          border-bottom: 1px solid rgba(128, 128, 128, 0.377);

          h4 {
            margin-right: 12px;
            font-size: 17px;
            cursor: pointer;
          }
        }

        .transactionsMain {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 8%;

          .icon {
            font-size: 50px;
            color: #1b46c2;
            cursor: pointer;
            // font-weight: bold;
          }

          h4 {
            margin: 0;
            padding-top: 20px;
            font-size: 30px;
            color: rgba(0, 0, 0, 0.733);
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .transactions {
    .transactionsContainer {
      .break {
        display: block;
      }
      .transactionsBody {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .transactions {
    .transactionsContainer {
      .break {
        display: block;
      }
      .transactionsBody {
        display: none;
      }
    }
  }
}
