.validate {
  display: flex; 
  overflow: clip;

  .validateContainer {
    flex: 6;
    min-width: 0;

    .validateBody {
      padding: 50px;
      width: 93%;

      .btn {
        background: #1b46c2;
        padding: 10px;
        border-radius: 6px;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
      }

      .title {
        span {
          font-size: 10px;
          text-transform: uppercase;
          color: rgba(128, 128, 128, 0.719);
          padding: 0;
          margin: 0;
          letter-spacing: 3px;
        }
      }

      .titleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .titleHeading {
          display: flex;
          align-items: center;

          h4 {
            font-size: 22px;
            line-height: 1rem;
            margin: 0;
          }
        }
      }
    }

    .container {
      display: flex;
      margin: 0;
      padding: 0;

      .contentContainer {
        flex: 3 0 0;

        .overviewContainer {
          background: #fff;
          padding: 10px;
          border-radius: 10px;
          margin-top: 30px;
          width: 94%;
          margin-bottom: 0;
          padding-bottom: 0;

          .overviewTitle {
            h5 {
              font-size: 18px;
              margin: 0;
              border-bottom: 1px solid rgba(85, 85, 85, 0.247);
              padding: 5px;
            }
          }

          .cards {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            padding: 30px;

            .card {
              flex: 1;
              padding: 5px 20px;
              padding-bottom: 20px;
              border-radius: 10px;
              justify-content: space-between;

              &:nth-child(1) {
                flex: 0 1 25%;
              }

              &:nth-child(2) {
                flex: 0 1 24%;
              }

              &:nth-child(3) {
                flex: 0 1 24%;
              }

              h5 {
                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 0;
                font-weight: normal;
              }

              h6 {
                font-size: 16px;
                margin-bottom: 10px;
                font-weight: bold;
                // padding: 0;
              }

              span {
                font-size: 12px;
                font-weight: normal;
              }
            }
          }
        }
      }

      .validation {
        margin-top: 35px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 10px 20px;
        width: 26%;
        border-radius: 10px;
        align-items: center;

        .validationTitle {
          align-items: start;
          width: 100%;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(85, 85, 85, 0.281);

          h5 {
            margin: 0;
            font-size: 19px;
          }
        }

        .validationContent {
          display: flex;
          flex-direction: column;
          align-items: center;

          .validationTimer {
            width: 100%;

            h4 {
              margin: 0;
              padding: 0;
              text-align: center;
              margin-bottom: 20px;
              margin-top: 20px;
            }

            span {
              padding: 0;
              margin: 0;
              display: flex;
              padding-left: 10px;
              width: 100%;
              text-align: center;
              color: rgba(85, 85, 85, 0.685);
            }
          }

          .validationProgress {
            width: 200px;
            height: 100px;
            color: #fff;
            margin-top: 40px;
          }

          .style {
            margin-top: 60%;
            padding-left: 10px;
            flex-wrap: wrap;

            span {
              text-align: center;
              color: rgba(85, 85, 85, 0.685);
            }
          }
        }
      }
    }
  }
}
