.dashboard {
  display: flex;
  overflow: clip;
 
  .dashboardContainer {
    flex: 6;
    min-width: 0;

    .break {
      display: none;
    }

    .dashboardBody {
      // background: #e9f3ff;
      width: 100%;
      height: 100%;
    }

    .dashboardRow {
      width: 100%;
      padding: 5px;

      .dashboardItem {
        display: flex;
        flex-direction: row;

        &:first-child {
          gap: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .dashboard {
    .dashboardContainer {
      .break {
        display: block;
      }
      .dashboardBody {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .dashboard {
    .dashboardContainer {
      .break {
        display: block;
      }
      .dashboardBody {
        display: none;
      }
    }
  }
}
