.signTab {
  width: 100%;
  //   background: red;

  .signTabContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    // padding: 50px;

    label {
      font-size: 18px;
    }

    input {
      outline: none;
      border: none;
      border: 1px solid rgba(85, 85, 85, 0.582);
      height: 50px;
      border-radius: 10px;
      width: 100%;
    }
    // color: red;
  }

  .btn {
    text-align: center;
    padding: 10px 20px;

    button {
      outline: none;
      border: none;
      color: #fff;
      font-size: 16px;
      background-color: #1b46c2;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
