.card1_bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(167, 163, 40, 1) 0%,
    rgba(157, 112, 3, 1) 47%,
    rgba(255, 174, 0, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(167, 163, 40, 1) 0%,
    rgba(157, 112, 3, 1) 47%,
    rgba(255, 174, 0, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(167, 163, 40, 1) 0%,
    rgba(157, 112, 3, 1) 47%,
    rgba(255, 174, 0, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFAE00', endColorstr='#A7A328', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(167, 163, 40, 1) 0%,
    rgba(157, 112, 3, 1) 47%,
    rgba(255, 174, 0, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(167, 163, 40, 1) 0%,
    rgba(157, 112, 3, 1) 47%,
    rgba(255, 174, 0, 1) 100%
  );
}

.card2_bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(167, 93, 40, 0.69) 0%,
    rgba(170, 98, 28, 0.74) 99%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(167, 93, 40, 0.69) 0%,
    rgba(170, 98, 28, 0.74) 99%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(167, 93, 40, 0.69) 0%,
    rgba(170, 98, 28, 0.74) 99%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AA621C', endColorstr='#A75D28', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(167, 93, 40, 0.69) 0%,
    rgba(170, 98, 28, 0.74) 99%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(167, 93, 40, 0.69) 0%,
    rgba(170, 98, 28, 0.74) 99%
  );
}

.bg {
  background: -moz-linear-gradient(
    90deg,
    rgba(85, 85, 85, 0.14) 0%,
    rgba(85, 85, 85, 0.14) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    rgba(85, 85, 85, 0.14) 0%,
    rgba(85, 85, 85, 0.14) 100%
  );

  background: -o-linear-gradient(
    90deg,
    rgba(85, 85, 85, 0.14) 0%,
    rgba(85, 85, 85, 0.14) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#555555', GradientType=0 );

  background: -ms-linear-gradient(
    90deg,
    rgba(85, 85, 85, 0.14) 0%,
    rgba(85, 85, 85, 0.14) 100%
  );

  background: linear-gradient(
    90deg,
    rgba(85, 85, 85, 0.14) 0%,
    rgba(85, 85, 85, 0.14) 100%
  );
}

.first {
  background-image: url('assets/abstract9.jpg');
  background-position: top left;
  flex: 1;
}

.second {
  background-image: url('assets/random.webp');
  background-position: top right;
  /* background-color: blue; */
}

.third {
  background-image: url('assets/greenish.webp');
  background-position: center center;
  /* background-color: blue; */
}

.stake1_bg {
  background: linear-gradient(153.43deg, #1233b2, #3464d0);
}

.stake2_bg {
  background: linear-gradient(153.43deg, #3585dd, #64adeb);
}

.stake3_bg {
  background: linear-gradient(153.43deg, #3585dd, #64adeb);
}

.stake4_bg {
  background: linear-gradient(153.43deg, #209d67, #4bc197);
}

.stakeImg {
  background-image: url('https://media.istockphoto.com/photos/global-communication-network-picture-id1317845608?k=20&m=1317845608&s=612x612&w=0&h=uDWwIYdOjxVh17lzQ2tB3dzDnzaP-y85Dc6fSs_9494=');
  width: 500px;
  height: 300px;
  border-radius: 20px 0px 0px 20px;
  /* clip-path: ellipse(226% 90% at -29.04% 10%); */
  filter: contrast(110%) brightness(80%);
  position: top center;
  /* color: #fff; */
}

/* .active {
  background-color: #f5f5f5;
  box-shadow: inset 0.1875rem 0 0 #1b46c2;
  color: #1b46c2;
  text-decoration: none;
} */

.rex {
   {
    /* ff 3.6+ */
    background: -moz-linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 98%,
      rgba(255, 255, 255, 1) 100%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 98%,
      rgba(255, 255, 255, 1) 100%
    );

    /* opera 11.10+ */
    background: -o-linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 98%,
      rgba(255, 255, 255, 1) 100%
    );

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0 );

    /* ie 10+ */
    background: -ms-linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 98%,
      rgba(255, 255, 255, 1) 100%
    );

    /* global 94%+ browsers support */
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 98%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
